.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.destinations h2 {
  margin: 0 auto 46px auto;

  @media (max-width: $mobile-width) {
    margin: 0 auto 20px auto;
    font-size: 14px;
    line-height: 19px; 
  }
}

.carousel__img--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.carousel__img {
  transition: all ease 1s;  

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__item {
  position: relative;
  width: 800px;
  height: 800px; 
  transition: all ease 1s;  

  & img {
    border-radius: 16px; 
  }

  @media (max-width: $mobile-width) {
    margin-right: 15px;
    margin-left: 15px;
    width: 360px;
    height: 210px;
  }
}

.slider__item span {
  position: absolute;
  left: 15px;
  bottom: 40px;
  text-transform: uppercase;
  color: $white;
  font-family: $text-font-redhat;
  font-size: 32px;
  line-height: 42px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 26px;
    top: 8px;
    bottom: 176px;
  }
}