.footer {
  display: flex;
  justify-content: space-between;
}

.footer__rights {
  color: $white;
  font-family: $text-font-redhat;
  font-size: 16px;
  line-height: 21px;
  vertical-align: middle;
  margin-left: 145px;

  & p {
    margin: 21px auto 19px auto;
  }
}

.footer__socials {
  margin: 14px 0 0px;

  & object {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}