.header__burger {
  display: none;
}


.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__logo span {
  font-family: $text-font-magra;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: $white;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav__el a {
  margin-right: 42px;
  color: $white;
  font-family: $text-font-redhat;
}

