.steps {
  margin-bottom: 97px;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.steps h2 {
  text-align: center;
  margin: 80px auto 40px auto;

  @media (max-width: $mobile-width) {
    margin: 20px auto;
    font-size: 14px;
    line-height: 19px;
  }
}

.steps__features {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    justify-content: right;
  }  
}

.steps__action-ico {
  align-self: center;

  @media (max-width: $mobile-width) {
    width: 70px;
    height: 70px;
  }
}

.steps__action {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    width: 120px;
  }
}

.steps__action-txt {
  margin-top: 30px;

  @media (max-width: $mobile-width) {
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
    text-align: center;
  }
}
