/// Fonts
/// @type List
$text-font-aleo: 'Aleo', serif;

/// @type List
$text-font-redhat: 'Red Hat Text', sans-serif;

/// @type List
$text-font-magra: 'Magra', sans-serif;



/// Copy text color
/// @type Color
$text-color: rgba(13, 96, 111, 1) !default;

/// Main brand color
/// @type Color
$brand-color: rgba(242, 120, 92, 1) !default;

/// White
/// @type Color
$white: rgba(255, 255, 255, 1) !default;



/// Container's maximum width
/// @type Length
$max-width: 1200px !default;

$mobile-width: 480px;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
